.project_content {
  // width: max(300px, 60%);
  width: min(80%, 85ch);
  margin: 0px auto;
}

.project_title {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 0px;
  margin-top: 0px;
}

.project_description {
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: italic;
}

.project_text {
  text-align: justify;
  text-wrap: pretty;
}

.sentence_highlight {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0px;
  text-align: center;
}

.horizontal_line {
  border-bottom: solid black 1px;
  margin: 5% 0% 5% 0%;
  opacity: 0.5;
}

.project_img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 5% auto;
  object-fit: cover;
}

.img_description {
  font-size: 1rem;
  margin-top: -4%;
  margin-bottom: 0px;
  font-style: italic;
}

.project_video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  margin-top: 10px;
}

.youtube_short_container {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
}

.youtube_short {
  flex: 1;
  min-width: 0;
  aspect-ratio: 9 / 16;
  border: none;
}

// About page
.about_container {
  // width: max(300px, 60%);
  width: min(80%, 85ch);
  margin: 0% auto;
  display: flex;
  align-items: start;
  gap: 5%;
  flex-wrap: wrap;
}

.about_text {
  flex: 1;
  text-align: justify;
  text-wrap: pretty;
}

.about_img {
  flex: 1;
  min-width: max(300px, 50%);
  max-width: 100%;
  margin: 0% auto;
}
